[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=device-ip
Exec=invoker --single-instance --type=silica-qt5 sailfish-qml device-ip
Name=Device IP

[X-Sailjail]
Permissions=Base
